.about-us {
  padding-top: 70px;
  margin-bottom: 60px;
}

.about-us__wr {
  .wr__padding();
}

.about-us__item {
  width: 231px;
  margin-bottom: 25px;
}

.about-us__img {
  color: #63d1bb;
}

.about-us__item:last-child {
  margin-bottom: 0;
}

.about-us__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 30px;
  font-family: "Opensans bold", sans-serif;
}

.about-us__text {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

@media @tablet-widths {
  .about-us__wr {
    .wr__padding(0 50px);
  }
  .about-us__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 600px;
    align-content: flex-start;
  }
  .about-us__title {
    margin-right: 50px;
    font-size: 43px;
    line-height: 50px;
  }
}

@media @desktop-widths {
  .about-us__wr {
    .wr__padding(0 100px);
    padding-left: 272px;
  }
  .about-us__title {
    font-size: 53px;
    line-height: 57px;
  }
}
