.about-us {
  padding-top: 70px;
}

.about-us-wr {
  padding: 0 30px;
}

.about-us__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
}

.about-us__text {
  font-size: 17px;
  line-height: 20px;
}
