.btn {
  display: block;
  padding-top: 15px;
  padding-bottom: 17px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #444;
}

.btn:active {
  color: rgba(255, 255, 255, .3);
}

.btn:hover {
  background: #444;
  color: #fff;
}
