.contacts__wr {
  padding: 0 30px;
}

.contacts__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 40px;
}

.contacts__row {
  color: #444;
  margin-bottom: 42px;
  span{
    font-size: 15px;
    line-height: 30px;
  }
}
