.mine-nav__list {
  list-style: none;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 30px;
}

.mine-nav__wr {
  padding: 0 30px;
}

.mine-nav__item {
  margin-bottom: 62px;
  a {
    color: #000;
    text-decoration: none;
    font-size: 17px;
    line-height: 24px;
  }
}

.mine-nav__item--last {
  margin-bottom: 0;
}
