.product {
  padding-top: 28px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    bottom: -41px;
    left: 0;
    width: 100%;
    height: 6px;
    background: url(../img/bg-zigzag-line.svg) repeat-x center;
    background-size: contain;
  }
}

.product-wr {
  .wr__padding();
  display: flex;
  flex-direction: column;
}

.product__header {
  width: 100%;
}

.product__title {
  color: #000;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 4px;
  margin-top: 0;
  order: 1;
}

.product__week {
  color: #63d1bb;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 9px;
  order: 2;
}

.product__text {
  max-width: 260px;
  color: #444;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 13px;
  order: 3;
}

.product__btn {
  width: 256px;
}

.product__description {
  color: #444;
  font-size: 15px;
  line-height: 20px;
  order: 4;
}

.product__box {
  margin-bottom: 26px;
}

.product__row {
  &:last-child {
    margin-bottom: 0;
  }
}

.product__row {
  border-bottom: 1px solid #ececec;
}

.product__coll {
  padding-bottom: 11px;
  padding-right: 31px;
  padding-top: 10px;
}

.product__img {
  min-height: 339px;
  order: 5;
}

.product__price {
  text-align: center;
  margin-bottom: 26px;
}

.product__footer {
  display: flex;
  flex-direction: column;
  order: 6;
}

.product__price {
  span {
    color: #444;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
  }
}

@media @tablet-widths {
  .product {
    padding-top: 43px;
    &:before {
      bottom: -7px;
      height: 16px;
    }
  }
  .product-wr {
    .wr__padding(0 50px);
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .product__box {
    margin-right: 34px;
  }
  .product__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: bold;
  }
  .product__week {
    line-height: 17px;
    width: 125px;
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
  }
  .product__text {
    padding-top: 28px;
    font-size: 17px;
    line-height: 30px;
    max-width: 300px;
    margin-bottom: 33px;
  }
  .product__img {
    position: relative;
    top: 54px;
  }
  .product__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product__footer {
    position: relative;
    top: -62px;
  }
  .product__price {
    margin-bottom: 34px;
    span {
      font-size: 20px;
      line-height: 24px;
    }
  }
  .product__btn {
    width: 286px;
  }
}

@media @desktop-widths {
  .product {
    padding-top: 122px;
    &:before {
      height: 27px;
      left: 48px;
      bottom: 130px;
      width: 91%;
      background: url(../img/bg-zigzag-line.svg) repeat-x center;
    }
  }
  .product__title {
    font-size: 53px;
    line-height: 57px;
  }
  .product__week {
    padding-left: 19px;
    margin-right: 27px;
  }
  .product__header {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }
  .product__text {
    margin-bottom: 43px;
  }
  .product__box {
    padding-left: 175px;
    margin-right: 50px;
  }
  .product__footer {
    left: 176px;
    position: relative;
    top: -229px;
  }
  .product__img {
    position: relative;
    top: -113px;
    z-index: -1;
  }
}
