.promo‐header {
  min-height: 300px;
}

.promo-header__title {
  color: #000;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  width: 275px;
  margin: 0 auto;
}

.promo‐header--bg {
  background-image: url(../img/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: contain;
}

.promo-header__wr {
  .wr__padding();
  padding-top: 90px;
}

@media @tablet-widths {
  .promo-header__wr {
    .wr__padding(0 50px);
    padding-top: 120px;
  }
  .promo-header__title {
    font-size: 43px;
    line-height: 50px;
    width: 575px;
  }
}

@media @desktop-widths {
  .promo-header__wr {
    .wr__padding(0 100px);
    padding-top: 120px;
  }
  .promo-header__title {
    font-size: 53px;
    line-height: 57px;
  }
}
