.promo‐header {
  background-color: #f1f1f1;
  min-height: 282px;
  &--bg {
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -18px;
  }
  &--catalog {
    min-height: 176px;
    margin-bottom: 30px;
  }
  &--form {
    min-height: 176px;
  }
}

@media @retina-mobile {
  .promo‐header {
    &--bg {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-position: center 0;
      background-size: 575px 373px;
    }
  }
}

.promo‐header__title {
  font-weight: bold;
  color: #000;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  width: 275px;
  margin: 0 auto;
}

.promo‐header__wr {
  .wr__padding(0 24px);
  padding-top: 70px;
}

@media @tablet-widths {
  .promo‐header {
    min-height: 626px;
    &--bg {
      background-image: url("../img/hero-desktop@1x.jpg");
      background-position: center -1px;
    }
    &--catalog {
      min-height: 222px;
      margin-bottom: 0;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        bottom: -19px;
        width: 100%;
        height: 32px;
        background: url(../img/bg-zigzag-fill.svg) repeat-x center;
        background-size: contain;
      }
    }
    &--form {
      min-height: 250px;
      margin-bottom: 46px;
    }
  }
  @media @retina-tablet {
    .promo‐header {
      min-height: 626px;
      &--bg {
        background-image: url("../img/hero-desktop@2x.jpg");
        background-position: center -1px;
        background-size: 1150px 746px;
      }
    }
  }
  .promo‐header__wr {
    .wr__padding(0 50px);
    padding-top: 142px;
    &--catalog {
      padding-top: 84px;
    }
    &--form {
      padding-top: 82px;
    }
  }
  .promo‐header__title {
    font-size: 43px;
    line-height: 50px;
    width: 575px;
    font-weight: bold;
    padding-top: 10px;
  }
}

@media @desktop-widths {
  .promo‐header {
    &--catalog {
      min-height: 250px;
    }
    &--form {
      min-height: 250px;
      margin-bottom: 124px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        bottom: -19px;
        width: 100%;
        height: 32px;
        background: url(../img/bg-zigzag-fill.svg) repeat-x center;
        background-size: contain;
      }
    }
  }
  .promo‐header__wr {
    .wr__padding(0 100px);
    padding-top: 144px;
    &--catalog {
      padding-top: 84px;
    }
    &--form {
      padding-top: 84px;
    }
    .promo‐header__title {
      font-size: 53px;
      line-height: 57px;
      width: 635px;
    }
  }
}
