.reviews__wr {
  padding: 0 30px;
}

.reviews__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
}

.reviews__text {
  color: #444;
  font-size: 15px;
  line-height: 30px;
}

.reviews__mail{
  color: #444;
}
