.reviews {
  margin-bottom: 65px;
}

.reviews__wr {
  .wr__padding();
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reviews__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  flex-grow: 1;
  order: 1;
  font-family: "Opensans bold", sans-serif;
}

.reviews__item {
  color: #444;
  font-size: 15px;
  line-height: 30px;
  width: 100%;
  order: 2;
}

.reviews__text {
  max-width: 245px;
}

.reviews__user {
  flex-grow: 1;
  order: 3;
}

.reviews__switch {
  order: 4;
}

.reviews__btn {
  order: 5;
  width: 256px;
}

.reviews__name {
  font-family: "Opensans bold", sans-serif;
  letter-spacing: 1px;
}

.reviews__mail {
  color: #444;
}

@media @tablet-widths {
  .reviews__wr {
    .wr__padding(0 50px);
    padding-top: 90px;
    padding-bottom: 63px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .reviews__user {
    flex-grow: 1;
  }
  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 35px;
  }
  .reviews__item {
    margin-bottom: 27px;
  }
  .reviews__text {
    max-width: 668px;
  }
  .reviews__name {
    margin-bottom: 7px;
  }
  .reviews__btn {
    order: 1;
    width: 171px;
  }
  .reviews--bg {
    background-image: url(../img/review@1x.jpg);
    background-repeat: no-repeat;
    background-position: left;
  }
}

@media @desktop-widths {
  .reviews__wr {
    .wr__padding(0 100px);
    padding-left: 271px;
    padding-top: 70px;
    padding-bottom: 99px;
  }
  .reviews__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 31px;
  }
  .reviews__item {
    margin-bottom: 6px;
  }
  .reviews__text {
    max-width: 780px;
    font-size: 17px;
  }
  .reviews--bg {
    background-image: url(../img/review@1x.jpg);
    background-repeat: no-repeat;
    background-position: 100px 0;
  }
  .reviews__btn {
    margin-top: 8px;
  }
}
