.social‐links {
  width: 147px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 24px 55px;
  border-bottom: 1px solid #e5e5e5;
}

.social‐link {
  color: #000;
  &:hover {
    color: #63d1bb;
  }
  &:active {
    opacity: .3;
  }
}

@media @tablet-widths {
  .social‐links {
    padding: 0 0 0 80px;
    border: none;
  }
}
