.video-block {
  margin-bottom: 58px;
}

.video-block__wr {
  .wr__padding();
  display: flex;
  flex-direction: column;
}

.video-block__header {
  order: 1;
  display: flex;
  &--show {
    display: none;
  }
}

.video-block__img {
  width: 67px;
  padding-top: 31px;
  padding-left: 34px;
  color: #63d1bb;
}

.video-block__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 25px;
  padding-top: 7px;
}

.video-block__video {
  order: 2;
  width: 260px;
  height: 150px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  &--preview {
    background-image: url("../img/video-mobile@1x.jpg");
  }
}

.video-block__text {
  order: 3;
  border: 1px solid #ececec;
  border-top: none;
  padding-top: 27px;
  padding-bottom: 32px;
  p {
    font-size: 13px;
    line-height: 24px;
    max-width: 192px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
}

.video-block__video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 101px;
  height: 77px;
  background: url("../img/icon-play.svg") no-repeat;
  border: none;
  outline: none;
  transform: translate(-50%, -50%);
  &:hover {
    width: 121px;
    height: 92px;
    background-size: 100%;
  }
  &:active {
    width: 81px;
    height: 62px;
    background-size: 100%;
    opacity: .3;
  }
}

.btn__order {
  width: 188px;
  margin: 0 auto;
}

@media @tablet-widths {
  .video-block {
    margin-bottom: 65px;
  }
  .video-block__wr {
    .wr__padding(0 50px);
  }
  .video-block__header {
    order: 2;
  }
  .video-block__title {
    font-size: 20px;
    padding-top: 17px;
    margin-bottom: 0px;
  }
  video-block__img {
    padding-top: 33px;
    padding-left: 42px;
  }
  .video-block__video {
    position: relative;
    order: 1;
    width: 668px;
    height: 455px;
    &--preview {
      background-image: url("../img/video-tablet@1x.jpg");
    }
  }
  .video-block__text {
    padding-bottom: 45px;
    p {
      font-size: 15px;
      line-height: 30px;
      max-width: 588px;
      margin-bottom: 32px;
    }
  }
  .btn__order {
    width: 580px;
  }
}

@media @desktop-widths {
  .video-block {
    margin-bottom: 105px;
  }
  .video-block__header {
    display: none;
    &--show {
      display: flex;
      flex-direction: column;
      margin-bottom: 14px;
    }
  }
  .video-block__wr {
    flex-direction: row;
  }
  .video-block__video {
    order: 1;
    width: 682px;
    height: 455px;
    &--preview {
      background-image: url("../img/video-desktop@1x.jpg");
    }
  }
  .video-block__text {
    padding-top: 14px;
    padding-left: 77px;
    padding-right: 54px;
    p {
      max-width: 230px;
      margin-bottom: 46px;
    }
  }
  .btn__order {
    width: 230px;
  }
  .video-block__img {
    padding-top: 29px;
    padding-left: 2px;
  }
  .video-block__title {
    padding: 0;
    margin-top: 16px;
    width: 165px;
    margin-bottom: 20px;
  }
}
